<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.fairytales.dto.Member" alias="Member" /><!-- Member vo에 대한 타입이랑 alias맞춘다. -->
		<typeAlias type="global.sesoc.fairytales.dto.Board" alias="Board" />
	</typeAliases>
	<mappers>
		<mapper resource="mappers/memberMapper.xml" />
		<mapper resource="mappers/boardMapper.xml" />
	</mappers>
</configuration>
