<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.fairytales.dao.CodeAnswerMapper">

	<!-- 게시판 목록 -->
	<select id="selectAnswer" resultType="String">
		select 
		answer
		from question 
		where chapter=#{screenNum} and screen=#{sinNum} and fairy_pk=#{fairy_Pk} and question_pk=#{question_num}
	</select>
</mapper>