<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.fairytales.dao.Editor_Mapper">

	<select id="selectFairytales" resultType="Fairytales">
		SELECT 
			 FAIRY_PK
			,FAIRY_NAME
			,FAIRY_CODE
			,FAIRY_CHAPTER
			,FAIRY_POSITION
			,FAIRY_LEVEL
		FROM FAIRYTALES
		ORDER BY FAIRY_PK
	</select>
	
	<insert id="insert_editor" parameterType="Fairytales">
		<selectKey keyProperty="fairy_pk" resultType="integer" order="BEFORE">
			SELECT fairytales_seq.nextval FROM DUAL
		</selectKey>
	INSERT INTO FAIRYTALES (
				 FAIRY_PK
				,FAIRY_NAME
				,FAIRY_CODE
				,FAIRY_CHAPTER
				,FAIRY_POSITION
				,FAIRY_LEVEL
			) VALUES (
				 #{fairy_pk}
				,#{fairy_name}
				,#{fairy_code}
				,#{fairy_chapter}
				,'/FairyTales/' || #{fairy_pk}
				,#{fairy_level}
			)
	</insert>
	
	<update id="update_editor" parameterType="Fairytales">
	UPDATE FAIRYTALES
	   SET FAIRY_NAME		=	#{fairy_name}
		  ,FAIRY_CODE		=	#{fairy_code}
		  ,FAIRY_LEVEL		=	#{fairy_level}
	 WHERE FAIRY_PK			=	#{fairy_pk}
	</update>
	
	<delete id="delete_editor" parameterType="Integer">
	DELETE FROM FAIRYTALES WHERE FAIRY_PK = #{fairy_pk}
	</delete>
	
</mapper>